.x-action-col-icon{
    width:16px;
    height:16px;
    cursor: pointer;
}
.kalix_start {
    background-image: url(../../admin/resources/images/control_play_blue.png) !important;
}

.kalix_stop {
    background-image: url(../../admin/resources/images/control_pause_blue.png) !important;
}

.kalix_hidden {
    width: 0px !important;
}

img.x-action-col-icon.x-action-col-0.x-hide-grid-column {
    visibility: hidden;
}

img.x-action-col-icon.x-action-col-1.x-hide-grid-column {
    visibility: hidden;
}

img.x-action-col-icon.x-action-col-2.x-hide-grid-column {
    visibility: hidden;
}

.field-required {
    color: red;
    font-weight: bold;
}
